@import "tailwindcss";

:root {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-primary);
}

@theme {  
  --color-primary: #E6F7FF;
  --color-secondary: #222222;
  --color-accent: #0D8BF2;
}

[data-theme='dark'] {
  --color-primary: #222222;
  --color-secondary: #E6F7FF;
  --color-accent: #0D8BF2;
}

.wrapper {
  @apply flex flex-row mx-[10px] my-[10px] h-[calc(100vh-20px)] overflow-hidden relative ;
}

.pageWrapper {
  @apply flex flex-col gap-2 w-full p-3 overflow-y-auto relative md:p-5
}

.icon {
  @apply w-7 h-fit p-1 rounded-[5px] cursor-pointer hover:bg-accent   ;
}

p{
  @apply text-[12px]
}
